<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.faculty">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Faculty Assistant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".fac_count"></activity>
        <activity android:name=".stu_rp2" />
        <activity android:name=".tq_stu" />
        <activity android:name=".stu_rp1" />
        <activity android:name=".fac_generate" />
        <activity android:name=".wel_stu" />
        <activity android:name=".select_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>